body{
    top: 0;
    left: 0;
    max-width: 100vw;
    max-height: 100vh;
    background-image: url(R.jpg);
    font-family: 'Courier New', Courier, monospace;
}

/* Logo */

.logo{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 128px;
    height: 32px;
    background-image: url(logo.png);
    background-size: cover;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

    /* Header */
.hdr{
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 60px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    transform: translateY(-50px);
    animation: fadeIn 1s ease-in-out forwards;
    z-index: 10;
    /* ici z-index est superieur a celui de nav
    cela permettra au header de rester en dessus de lui */
}
@keyframes fadeIn{
    from{transform: translateY(-50px); opacity: 0;}
    to{transform: translateY(0); opacity: 1;}
}
.b1{
    width: 35px;
    height: 35px;
    margin: 10px;
    
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    background-image: url(home_icon.png);
    background-size: cover;
    transition: transform 0.3s ease;
}
.b1:hover{
    transform: translateY(10px) scale(1.05);
}

.bb{
    width: 35px;
    height: 35px;
    margin: 10px;
    
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    background-image: url(book_icon.png);
    background-size: cover;
    transition: transform 0.3s ease;
}
.bb:hover{
    transform: translateY(10px) scale(1.05);
}

.bc{
    width: 35px;
    height: 35px;
    margin: 10px;
    
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    background-image: url(profil_icon.png);
    background-size: cover;
    transition: transform 0.3s ease;
}
.bc:hover{
    transform: translateY(10px) scale(1.05);
}

.cr{
    width: 35px;
    height: 35px;
    margin: 10px;
    
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    background-image: url(chat_icon.png);
    background-size: cover;
    transition: transform 0.3s ease;
}
.cr:hover{
    transform: translateY(10px) scale(1.05);
}

/* Container */

.msg{
    position: fixed;
    top: 10vh;
    left: 5vw;
    width: 90vw;
    height: 70vh;
    max-width: 90vw;
    max-height: 70vh;
    padding: 10px;
    background-color: rgba(47, 79, 79, 0.7);
    color: aliceblue;
    border-radius: 8px;
    scrollbar-width: none;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.inp{
    position: absolute;
    top: 82vh;
    left: 5vw;
    width: 90vw;
    height: 32px;
    border: none;
    border-radius: 8px;
    padding: 5px;
}

.sub{
    position: absolute;
    top: 83vh;
    left: 92vw;
    width: 32px;
    height: 32px;
    background-image: url(send.png);
    background-size: cover;
    border: none;
    border-radius: 8px;
    transition: tranform 1s ease;
}
.sub:hover{
    transform: translateY(-5px) scale(1.05);
}

