*{
    scrollbar-width: none;
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}
body{
    margin: 0;
    max-width: 100vw;
    background-image: url(R.jpg);
}



/* Logo */

.logo{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 128px;
    height: 32px;
    background-image: url(logo.png);
    background-size: cover;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

    /* Header */

.hdr{
    position: fixed;
    top: 0;
    left: 0;
    background-color: transparent;
    height: 60px;
    width: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: center;
    transform: translateY(-50px);
    animation: fadeIn 1s ease-in-out forwards;
    z-index: 10;
    /* ici z-index est superieur a celui de nav
    cela permettra au header de rester en dessus de lui */
}
@keyframes fadeIn{
    from{transform: translateY(-50px); opacity: 0;}
    to{transform: translateY(0); opacity: 1;}
}
.b1{
    width: 35px;
    height: 35px;
    margin: 10px;
    
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    background-image: url(home_icon.png);
    background-size: cover;
    transition: transform 0.3s ease;
}
.b1:hover{
    transform: translateY(10px) scale(1.05);
}

.bb{
    width: 35px;
    height: 35px;
    margin: 10px;
    
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    background-image: url(book_icon.png);
    background-size: cover;
    transition: transform 0.3s ease;
}
.bb:hover{
    transform: translateY(10px) scale(1.05);
}

.bc{
    width: 35px;
    height: 35px;
    margin: 10px;
    
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    background-image: url(profil_icon.png);
    background-size: cover;
    transition: transform 0.3s ease;
}
.bc:hover{
    transform: translateY(10px) scale(1.05);
}

.cr{
    width: 35px;
    height: 35px;
    margin: 10px;
    
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    border: none;
    background-image: url(chat_icon.png);
    background-size: cover;
    transition: transform 0.3s ease;
}
.cr:hover{
    transform: translateY(10px) scale(1.05);
}

/* List */

.course-list{
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 70px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    
    gap: 20px; /* espace entre chaque cours */
  width: 100%;
  max-width: 100vw;
}

.course-card{
    padding: 20px;
    width: 80vw;
    height: auto;
    border: none;
    margin: 10px auto;
    border-radius: 8px;
    background-color: rgba(47, 79, 79, 0.8);
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
}
.course-card:hover{
    transform: translateY(-5px) scale(1.05);
}

.course-page{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(R.jpg);
  overflow-x: hidden;
  overflow-y: auto;
}

.hide{
    display: none;
}

.score{
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
    color: aliceblue;
    display: flex;
}

.page-content{
    margin-top: 70px;
    margin-bottom: 50px;
    padding: 10px;
    width: 80vw;
    height: auto;
    background-color: rgba(47, 79, 79, 0.8);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 8px;
}

.close{
  height: 32px;
  width: 32px;
  background-image: url(close.png);
  background-size: cover;
  position: fixed;
  top: 70px;
  right: 15px;
  border: none;
  border-radius: 8px;
  transition: transform 0.5s ease;
}
.close:hover{
  transform: translateY(5px) scale(1.05);

}

.container{
    width: 74vw;
    margin-top: 70px;
    margin-bottom: 20px;
    background-color: rgba(47, 79, 79, 0.95);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 8px;
    padding: 8px;
    opacity: 0;
    animation: fadeThen 2s ease-in-out forwards;
    z-index: 5; /*cela permettra au nav de rester sous le header quand je scroll */
    transition: transform 0.3s ease;
}
.container:hover{
    transform: translateY(-5px);
}
@keyframes fadeThen {
    from{opacity: 0;}
    to{opacity: 1;}
}

/* Course End */
.end{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* Message Box */
.back{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 11;
}
.front{
    width: 400px;
    background-color: rgb(61, 57, 57, 0.9);
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 12;
    border-radius: 8px;
    padding: 30px 20px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);

    animation: popIn 1s ease-out;
}
.front p{
    margin-bottom: 20px;
}
@keyframes popIn {
    form{
        transform: scale(0.3);
        opacity: 0;
    } to{
        transform: scale(1);
        opacity: 1;
    }
}

#msgbx{
    width: 100px;
    height: 30px;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    background-color: rgba(47, 79, 79);
    border-radius: 8px;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}
#msgbx:hover{
    transform: translateY(5px) scale(1.05);
    background-color: rgba(57, 89, 89);
}