body{
    margin: 0px;
    background-image: url(R.jpg);
    font-family: 'Courier New', Courier, monospace;
    color: aliceblue;
}

/* Logo */

.logo{
    position: fixed;
    top: 10px;
    left: 10px;
    width: 128px;
    height: 32px;
    background-image: url(logo.png);
    background-size: cover;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.box{
    width: 60vw;
    height: auto;
    padding-bottom: 20px;
    border-radius: 10px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(47, 79, 79, 0.95);
    opacity: 50%;
    margin-top: 15vh;
    margin-bottom: 15vh;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    animation: fadeOut 0.5s ease-out;
    transition: transform 0.3s ease;
}
.box:hover{
    transform: translateY(-5px);
}
@keyframes fadeOut {
    from{
        opacity: 0;
    } to{
        opacity: 0.7;
    }
}

.form{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}
h1{
    margin-top: 20px;
    color: rgb(29, 36, 43);
}
label{
    margin-top: 10px;
    margin-bottom: 10px;
    color: aliceblue;
    font-weight: bold;
}
.inp{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    transition: transfrom 0.3s ease;
}
.inp:hover{
    transform: scale(1.05);
}
.btn{
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: #ffcc00;
    cursor: pointer;
    color: rgb(29, 36, 43);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    transition: transform 0.3s ease;
}
.btn:hover{
    transform: translateX(5px) scale(1.05);
    background-color: #ffaa00;
}

p{
    color: aliceblue;
    font-size: small;
}
.link{
    display: inline-block; /*ceci pour le forcer a ne pas etre en inline ! */
    color: #ffcc00;
    font-size: small;
    margin-top: 10px;
    transition: transform 0.3s ease;
}
.link:hover{
    transform: translateX(10px) scale(1.1);
    color: #ffee00;
}

#show{
    width: 20px;
    height: 20px;
    background-image: url(eye.png);
    background-size: cover;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-left: 10px;
    transition: transform 0.3s ease;
}
#show:hover{
    transform: scale(1.05);
}
h1{
    color: aliceblue;
}